.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  overflow: hidden;
}

.productImage {
  object-fit: contain;
  padding: 8px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.45;
}

.icon {
  color: var(--text-primary);
}
